.ProductsItem{
    background-color: rgba(210, 201, 201, 0.665);
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    height: 350px;
    margin: 20px 0px;
}
.home{
    background-color: rgba(210,201,201, 0.665);
}
.Home_page{
    background-color: rgba(130, 124, 124, 0.665);   
}